/*googlefonts*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'DM Serif Display', serif;
    --primary-color: #f26513;
    --secondary-color: #f2f2f2;
    --highlight-color: #8c2b3d;
    --highlight-light-color: #035a06;
}

/*global styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 3rem;
    font-weight: bold;
}

/*navbar section*/

nav {
    font-family: var(--secondary-font);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

.navbar-brand {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

/*hero section*/

video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 50px;
    font-weight: 900;
}

.hero-content a {
    font-size: 18px;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
    background-color: var(--highlight-color);
}

.hero-content p {
    font-size: 18px;
    color: var(--secondary-color);
    margin-bottom: 50px;
    text-align: center;
}

.hero-content a:hover {
    background-color: var(--highlight-light-color);
    color: var(--secondary-color);
}

#custom-button-filled {
    background-color: var(--highlight-light-color) !important;
    color: var(--secondary-color);
    border: 2px solid;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

/*footer section*/
footer .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}